.elementor-widget-tabs .elementor-tab-title {
            border-left: 1px #fff solid !important;
            border-top: 1px #fff solid !important
        }
        
        .elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title.elementor-active,
        .elementor-tab-title.elementor-tab-desktop-title.elementor-active {
            border-left: 1px #fff solid !important;
            border-top: 1px #fff solid !important
        }
        
        .az-iframe-gia1 iframe {
            min-height: 900px
        }
        
        .az-iframe-gia2 iframe {
            min-height: 600px
        }
        
        .fix-header-bt {
            display: none
        }
        
        .elementor-sticky--active .logo-main {
            display: none
        }
        
        .elementor-sticky--active li.menu-item a {
            font-size: 14px
        }
        
        .elementor-sticky--active .fix-header-bt {
            display: block !important
        }
        
        .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item:first-child .elementor-post__thumbnail__link {
            width: 40%
        }
        
        .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item:first-child {
            background: #eef8e9
        }
        
        .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item:first-child .elementor-post__text {
            padding: 25px 10px 15px 0
        }
        
        .home .az-page-title,
        .page-id-45 .az-page-title {
            display: none
        }
        
        .elementor-nav-menu li.menu-item a {
            cursor: pointer
        }
        
        .az-list-sp a.elementor-post__thumbnail__link {
            margin-bottom: 15px
        }
        
        form.searchandfilter ul li {
            list-style: none !important
        }
        
        .mb {
            display: none
        }
        
        @media (min-width:1200px) {
            .elementor-sticky--active .elementor-element.az-logo.elementor-column {
                width: 8%
            }
            .elementor-sticky--active .elementor-element.az-menu.elementor-column {
                width: 92%
            }
        }
        
        @media (max-width:767px) {
            .pc {
                display: none
            }
            .mb {
                display: block !important
            }
            .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item:first-child .elementor-post__text {
                padding: 10px 5px 0 0
            }
            .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item .elementor-post__text .elementor-post__meta-data {
                display: none
            }
            .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item .elementor-post__text .elementor-post__excerpt {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0
            }
            .az-list-post .elementor-posts-container.elementor-posts article.elementor-grid-item {
                padding: 10px
            }
        }
        
        .envato-kit-66-menu .e--pointer-framed .elementor-item:before {
            border-radius: 1px
        }
        
        .envato-kit-66-subscription-form .elementor-form-fields-wrapper {
            position: relative
        }
        
        .envato-kit-66-subscription-form .elementor-form-fields-wrapper .elementor-field-type-submit {
            position: static
        }
        
        .envato-kit-66-subscription-form .elementor-form-fields-wrapper .elementor-field-type-submit button {
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -webmit-transform: translate(0, -50%)
        }
        
        .envato-kit-66-testi-slider .elementor-testimonial__footer {
            margin-top: -60px !important;
            z-index: 99;
            position: relative
        }
        
        .envato-kit-66-featured-slider .elementor-slides .slick-prev {
            width: 50px;
            height: 50px;
            background-color: #fff !important;
            transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            left: -25px !important;
            -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .32);
            -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .32);
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .32)
        }
        
        .envato-kit-66-featured-slider .elementor-slides .slick-prev:before {
            display: block;
            margin-top: 0;
            margin-left: 0;
            transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg)
        }
        
        .envato-kit-66-featured-slider .elementor-slides .slick-next {
            width: 50px;
            height: 50px;
            background-color: #fff !important;
            transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            right: -25px !important;
            -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .32);
            -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .32);
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .32)
        }
        
        .envato-kit-66-featured-slider .elementor-slides .slick-next:before {
            display: block;
            margin-top: -5px;
            margin-right: -5px;
            transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg)
        }
        
        .envato-kit-66-orangetext {
            color: #f4511e
        }
        
        .envato-kit-66-countdown .elementor-countdown-label {
            display: inline-block !important;
            border: 2px solid rgba(255, 255, 255, .2);
            padding: 9px 20px
        }
        
        .envato-block__preview {
            overflow: visible !important
        }
        
        .envato-kit-107-text-selection-color .elementor-headline-dynamic-wrapper.elementor-headline-typing-selected {
            background-color: rgba(51, 94, 234, .1)
        }
        .elementor-posts-container .elementor-post__thumbnail img {
            height: auto;
            position: absolute;
            top: calc(50% + 1px);
            left: calc(50% + 1px);
            -webkit-transform: scale(1.01) translate(-50%,-50%);
            -ms-transform: scale(1.01) translate(-50%,-50%);
            transform: scale(1.01) translate(-50%,-50%)
        }